<!DOCTYPE html>
<html>
<head>
    <!--<title>sklicko360.cz - Nová forma prezentace!</title>-->
	<title>{include title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="robots" content="noindex" />
	<link rel="stylesheet" href="/style.css">
 
	<style type="text/css">
	
	</style>
</head>
<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	
    <a href="./"><header>
	<img class="printOnly" src="/images/logo-sklo.png" alt="logo sklicko360.cz">
		<h1>{$pageInfo->header}</h1>
	</header></a>
	<main>
		<div id="menu">
			{include menu}
		</div>
		<div id="content">
			{include content}
		</div>
	</main>
	<footer>&copy; Martin Štoll 2017</footer>
		{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>

