{block title}
sklicko360.cz - {$pageInfo->name}
{/block}

{block menu}
	<ul>
		{foreach $pageList as $item}
		    <li class="{if $item==$actualPage}selected{/if}"><a n:href="show, page=> ''.$item">{$item}</a></li>
		{/foreach}
	</ul>
{/block}

 
{block content}
	{foreach $pageSections as $section}
			<div class="cont {$section->align}" id="setc{$section->id}" style="order:{$section->rank}">
				{if ($section->image_src != "") && ($section->image_alg=="left")}
					<img src="/images/{$section->image_src}" alt="{$section->image_alt}"/>
				{/if}
				<div>
					<h2>{$section->heading}</h2>
					<span>{$section->text|noescape}</span>
				</div>
				{if ($section->image_src != "") && ($section->image_alg=="right")}
					<img src="/images/{$section->image_src}" alt="{$section->image_alt}"/>
				{/if}
			</div>
	{/foreach}
{/block}
