<!DOCTYPE html>
<html>
<head>
    <!--<title>sklicko360.cz - Nová forma prezentace!</title>-->
	<title>{include title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="robots" content="noindex" />
	<link rel="stylesheet" href="/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script>
 blabla="";
 $(document).ready(function(){
	$('.leftAlg').click(function() {
		var id = $(this).closest( '.cont' ).attr('id').split('-');
		if (sendAlgActualization(id[1], $(this).closest( '.cont' ).css( "order" ), "left"))
		$(this).closest( '.cont' ).removeClass( "right center" ).addClass( "left" );
	});
	$('.rightAlg').click(function() {
		var id = $(this).closest( '.cont' ).attr('id').split('-');
		if(sendAlgActualization(id[1], $(this).closest( '.cont' ).css( "order" ), "right"))
		$(this).closest( '.cont' ).removeClass( "left center" ).addClass( "right" );
	});
	$('.centerAlg').click(function() {
		var id = $(this).closest( '.cont' ).attr('id').split('-');
		if (sendAlgActualization(id[1], $(this).closest( '.cont' ).css( "order" ), "center"))
		$(this).closest( '.cont' ).removeClass( "right left" ).addClass( "center" );
	});
	$('.topPos').click(function() {	
		var id = $(this).closest( '.cont' ).attr('id').split('-');
		if (sendPosActualization(id[1], "top")
		$$(this).closest( '.cont' ).css( "order", "" );
	});
	$('.botPos').click(function() {
		var arr = $(this).closest( '.cont' ).attr('id').split('-');
		if (sendActualization(arr[1], $(this).closest( '.cont' ).css( "order" ), "center"))
		$(this).closest( '.cont' ).removeClass( "right left" ).addClass( "center" );
	});
	
	
});



function sendAlgActualization(id, pos, alg){
var result = false;
$.ajax({
 
    // The URL for the request
    url: "http://sklicko360.cz/action/move/",
 
    // The data to send (will be converted to a query string)
    data: {
        ident: id,
		pos: pos,
		alg: alg
    },
	
	async:false,
 
    // Whether this is a POST or GET request
    type: "GET",
 
    // The type of data we expect back
    dataType : "json",
}).done(function( json ) {
	blabla = json;
     if (json.message=="succeed") result = true;
  })
  return result;
}

function sendPosActualization(id, pos){
var result = false;
$.ajax({
 
    // The URL for the request
    url: "http://sklicko360.cz/action/move/",
 
    // The data to send (will be converted to a query string)
    data: {
        ident: id,
		pos: pos
    },
	
	async:false,
 
    // Whether this is a POST or GET request
    type: "GET",
 
    // The type of data we expect back
    dataType : "json",
}).done(function( json ) {
	blabla = json;
    return json;
  })
  return result;
}
 </script>
	<style type="text/css">
	
	</style>
</head>
<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
<div style="width:80%;float:left;">
	
    <a href="./"><header>
	<img class="printOnly" src="/images/logo-sklo.png" alt="logo sklicko360.cz">
		<h1>{$pageInfo->header}</h1>
	</header></a>
	<main>
		<div id="menu">
			{include menu}
		</div>
		<div id="content">
			{include content}
		</div>
	</main>
	<footer>&copy; Martin Štoll 2017</footer>
		{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</div>	<div style="width:20%; height:100%; float:left;">&nbsp;sdcdsd</div>
</body>
</html>

