{block title}
sklicko360.cz - {$pageInfo->name}
{/block}

{block menu}
	<ul>
		{foreach $pageList as $item}
		    <li class="{if $item==$actualPage}selected{/if}"><a n:href="Admin: ,''.$item">{$item}</a></li>
		{/foreach}		
	</ul>
{/block}

 
{block content}
	{foreach $pageSections as $section}
			<div class="cont {$section->align}" id="setc-{$section->id}"  style="order:{$section->rank}">
			
				<div style="flex-basis:100%; text-align:right;">
					<div class="leftAlg" style="margin:0px; border:1px solid black;display:inline-block; width:25px; height:25px; background-color:red;vertical-align:middle;text-align:center">&gt;</div>
					<div class="centerAlg"  style="margin:0px; border:1px solid black;display:inline-block; width:25px; height:25px; background-color:red;vertical-align:middle;text-align:center">X</div>
					<div class="rightAlg" style="margin:0px; border:1px solid black;display:inline-block; width:25px; height:25px; background-color:red;vertical-align:middle;text-align:center">&lt;</div>
					<div class="topPos" style="margin:0px; border:1px solid black;display:inline-block; width:25px; height:25px; background-color:red;vertical-align:middle;text-align:center">&lt;</div>
					<div class="botPos" style="margin:0px; border:1px solid black;display:inline-block; width:25px; height:25px; background-color:red;vertical-align:middle;text-align:center">&lt;</div>
				</div>
			
				{if ($section->image_src != "") && ($section->image_alg=="left")}
					<img src="/images/{$section->image_src}" alt="{$section->image_alt}"/>
				{/if}
				<div>
					<h2>{$section->heading}</h2>
					<span>{$section->text|noescape}</span>
				</div>
				{if ($section->image_src != "") && ($section->image_alg=="right")}
					<img src="/images/{$section->image_src}" alt="{$section->image_alt}"/>
				{/if}
			</div>
	{/foreach}
{/block}