* {
	margin: 0; 
	padding: 0
}
	
body{
	background: red; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#F0E6EF, #B8BEDD); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#F0E6EF, #B8BEDD); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#F0E6EF, #B8BEDD); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#F0E6EF, #B8BEDD); /* Standard syntax */
}
	
header{
	position:relative;
	height:200px;
	background-image:url('images/logo-sklo.png');	
	background-repeat: no-repeat;
	background-position: center top; 
	background-size: auto 170px;
}

header h1{
	 position: absolute;
    bottom: 10px;
    width: 75%;
    text-align: center;
	padding-left:25%;
	color:#1339af;
	font-family:monospace;
}

h2{
	margin-bottom:3px;
	
}

a{
	color:#e10000;
	text-decoration:underline;
	
}

form label{
	width:50px;
	display:inline-block;
}

form textarea,input{
	vertical-align: top;
	width:calc(100% - 60px);
	border-width:1px;
	border-color:#adaaaa;
}

form input{}

form label,input,textarea{
	margin:5px 0;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding-right: 30px;
	overflow: hidden;
	background-color: #2B2D42;
	text-align:center;
}

#menu  li {
	display:inline-block;
	margin:-3px;
}

#menu  li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menu  li a:hover, .selected {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color:#e10000;
}
	
#content{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width:420px;
  max-width:900px;
  margin:0px auto;
}
	
#content::after { 
   content: " ";
   display: block; 
   height: 0px; 
   clear: both;
}

.printOnly{
	display:none;
}



	
div.left, div.right, div.center {
	width: 80%;
	padding: 10px 0px;
	margin: 15px 0px;
	max-width:655px;
}

div.left {
	align-self: flex-start;
}

div.right {
	align-self: flex-end;
}
div.center{
	align-self:center;
}


.cont{ 
	min-width: 400px; 
	max-width:675px;
	background-color:rgba(141, 153, 174, 0.54);
	padding:0px 8px;
	color:#f7f2f6;
	display:flex;
	/*flex-wrap:wrap;*/
	align-content:flex-start;
	flex-flow: row wrap;
	align-items:stretch;
	
	justify-content:space-evenly;
}
.cont div{
	margin:0px 10px;
	flex-basis:200px;
	flex-grow:1;
} 
.cont img{
	margin:auto 10px;
	/*flex-basis:50px;*/
	max-width: 250px;
	max-height:200px;
}


.cont li { 
list-style-position: inside;
    text-indent: -6.3em;
    padding-left: 6.5em;
}
	
footer{
	height: 25px;
	margin-top:0px;
	margin-bottom:10px;
	padding:3px;
	text-align:center;
	line-height:25px;
	font-weight:bold;
	color:white;
	background-color: #2B2D42;
}


@media only screen and (max-height: 600px) {
	header{
		height:40px;
		background-size:auto 40px;
		background-position: 20px center;
	}
	
	header h1{
		bottom: 5px;
		width: 100%;
		padding-left:0;
	}
}


@media only print{
	.printOnly{
		display:inline-block;
		height: 40px;
		position: absolute;
		top: 0px;
		left:0px;
	}
	
	#menu{
		display:none;
	}
	
	header{
		height:40px;
		background-size:auto 40px;
		background-position: 20px center;
	}
	
	header h1{
		bottom: 5px;
		width: 100%;
		padding-left:0;
		color:black;
		font-size:2.3em;
		text-decoration:underline;
	}

	#content{
		width: 100%;
		max-width:100%;
		margin:0px auto;
	}

	.cont{ 
		width:100%;
		padding:0px 8px;
		color:black;
	}
	
	.cont::after{
		content:" ";
		width:100%;
		border:1px solid black;
		margin-top:5px;
	}
	
	.cont:last-child:after{
		display:none;
	}

	div.left, div.right, div.center {
		width: 100%;
		padding: 10px 10px;
		margin: 15px 0px;
		max-width:100%;
		align-self: stretch;
	}

	.cont div{
		margin:0px auto;
		max-width:70%;
		min-width: 200px
	} 
	
	.cont img{
		margin:auto;
		max-width:29%;
		max-height:200px;	
	}
}